body {
	text-align: center;
	background: #81ecec;
	font-size: 18px;
}
.song-container {
	margin: 60px auto;
	max-width: 1200px;
	background: #95a5a6;
	padding: 40px;
	border: none;
	border-radius: 10px;
}
h1 {
	text-transform: uppercase;
}
p {
	max-width: 650px;
	border: 2px solid #2980b9;
	margin: 15px auto;
	padding: 15px;
	text-align: justify;
	background: #ecf0f1;

}
p:hover {
	filter: drop-shadow(10px 8px 4px #2c3e50);
}